#tiramisu-body {
    background-color: aqua;
}

#gelato-body {
    background-color: pink;
}

#smash-burger-body {
    background-color: blue;
}

.subsection-header {
    font-size: 24px;
    font-family: 'Arial','Times New Romans',sans-serif;
    font-weight: bold;
}

.header {
    font-size: 36px;
    font-family: 'Courier New', 'Brush Script MT', monospace;
    font-weight: 900;
}