* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: bisque;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
}

.main-list {
    text-align: center;
}

.horizontal-li {
    display: inline-block;
}

.recipe-item {
    width: 200px;
    height: 400px;
    margin: 10px 10px;
}

.recipe-item.item-image {
    display: block;
}

